{{- if eq .Page.Section "thoughts" -}}
{{- partial "thoughts/image.html" . -}}
{{- else -}}
    {{- $fancybox := .Page.Param "fancybox.enabled" -}}
    {{- if $fancybox -}}
        {{- .Page.Store.Set "hasFancybox" true -}}
    {{- end -}}
    <div class="post-img-view">
        {{- if $fancybox }}
        <a data-fancybox="gallery" href="{{ .Destination | safeURL }}">
        {{- end }}
        <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" {{ with .Title }}title="{{ . }}"{{ end }} />
        {{- if $fancybox }}
        </a>
        {{- end }}
    </div>
{{- end -}}
