{{- $title := partial "thoughts/title.html" . -}}
{{- $description := .Description | default (.Plain | htmlUnescape | truncate 160 | htmlUnescape) -}}
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $description }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ site.Title }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ $title }}">
<meta name="twitter:description" content="{{ $description }}">
{{- if .IsPage }}
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
<script type="application/ld+json">{{ dict "@context" "https://schema.org" "@type" "BlogPosting" "headline" $title "description" $description "url" .Permalink "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00") "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00") "author" (dict "@type" "Person" "name" (.Params.author | default "Downmars")) | jsonify | safeJS }}</script>
{{- end }}
