<!-- <!-- busuanzi --> -->
<!-- {{- if .Site.Params.busuanzi.enable -}} -->
<!-- <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script> -->
<!-- <meta name="referrer" content="no-referrer-when-downgrade"> -->
<!-- <style> -->
<!--     :root { -->
<!--         --footer-height: 80px -->
<!--     } -->
<!-- </style> -->
<!-- {{- end -}} -->

<!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
<!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
<!-- <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans+SC:wght@100..900&display=swap" rel="stylesheet"> -->

<!-- https://github.com/lxgw/LxgwWenKai -->
 <link rel="stylesheet" href="https://cdn.staticfile.org/lxgw-wenkai-screen-webfont/1.6.0/style.css" />

<!-- https://brealinhub.com/posts/%E4%B8%80%E4%BA%9B%E8%87%AA%E5%AE%9A%E4%B9%89%E9%85%8D%E7%BD%AE/#fn:3 -->
<!-- <script src="https://cdn.jsdelivr.net/npm/medium-zoom@1.0.8/dist/medium-zoom.min.js"></script> -->
<!-- <script> -->
<!-- const images = Array.from(document.querySelectorAll(".post-content img")); -->
<!-- images.forEach(img => { -->
<!--   mediumZoom(img, { -->
<!--     margin: 0, /* The space outside the zoomed image */ -->
<!--     scrollOffset: 10, /* The number of pixels to scroll to close the zoom */ -->
<!--     container: null, /* The viewport to render the zoom in */ -->
<!--     template: null, /* The template element to display on zoom */ -->
<!--     background: 'rgba(0, 0, 0, 0.8)', -->
<!--   }); -->
<!-- }); -->
<!-- </script> -->

